<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link href="css/styles.css" rel="stylesheet">
    <title>MOO MOOS</title>
</head>
<body>
<p>Add Cow</p>
<form action="#" th:object="${cow}" th:action="@{/cowNew}" method="POST">
    <div>
        <label>Name</label>
        <input th:field="*{name}" type="input" name="name" required>
    </div>
    <div>
        <label>Age</label>
        <input th:field="*{age}" type="input" name="age" required>
    </div>
    <button type="summit">Save</button>
    <a th:href="@{/welcome}">
        <button type="button">Cancel</button>
    </a>
</form>

</body>
</html>