<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link href="css/styles.css" rel="stylesheet">
    <title>Welcome!</title>
</head>
<body style="background-image: url('../backgroundPicture/Mooooo.jpg'); background-size: cover;">
<p>Cows</p>
<table border="1">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    </thead>
    <tbody>
    <tr th:each="cow : ${cows}">
        <td th:text="${cow.id}"></td>
        <td th:text="${cow.name}"></td>
        <td th:text="${cow.age}"></td>
        <td>
            <a th:href="@{'/editCow/' + ${cow.id}}">Edit</a>
            <a th:href="@{'/deleteCow/' + ${cow.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/cowNew}">Add Cow</a>
</body>
</html>